@import "base";
// =======Sprites
// .whatever{
// 	@include sized-sprite($icons, badge_hit);
// 	@include retina{
// 		@include sized-sprite($icons, badge_new);
// 	}
// }
// =======animation example
// @include keyframes(rotate) {
//    from {
//       @include rotate(0);
//    }
//    to {
//       @include rotate(360);
//    }
// }
// body:hover{
// 	@include animation(rotate 200s linear infinite);
// }
// ========gradient example
// body{
// @include background-image(linear-gradient(#232323, #5c5c5c));
// }



/**{margin:0;padding:0;-webkit-text-size-adjust: none; }
body{
	font: {
	    family: Arial,sans-serif;
	    weight: normal;
	    size: 12px;
	  	}
	line-height:1.4;
}
// resets
a img,fieldset{
	border:none;
	}
a{
	color:#00919e;
	&:hover{
		text-decoration:none;
	}
}
*/
// profile styles

.profile{
	.profile-top{
		padding: 16px 0 0;
		display: inline-block;
		width: 100%;
		margin-bottom: 13px;
	}
//user
	.user{
		float: left;
		height: 150px;
		.change{
			display: none;
			font-size: 8px;
			color:#fff;
			vertical-align: middle;
			line-height: 1;
			font-family:Arial,sans-serif;
		}
		.user__top{
			color: 000;
			font-size: 28px;
		}
		.user__email{
			color: #6d6e70;
			font-size: 25px
		}
		.user__pic{
			float: left;
			width: 77px;
			padding: 5px;
			border-radius:3px;
			background: #ebebeb;
			cursor: pointer;
			text-align: center;
			margin-top: 5px;
			img{
				display: block;
				max-height: 77px;
				max-width: 77px;
				vertical-align: middle;
			}
			&:hover{
				background: #396d92;
				.change{display: block;}
			}
			.change{margin-top:6px;}
		}
		.user__info{
			margin: 0 0 0 5px;
			float: left;
			font-family:Arial,sans-serif;
			h2{
				font-size: 20px;
				color: #231f20;
				padding:0 5px;
				border-radius:3px;
				display: inline-block;
				line-height: 32px;
				cursor: pointer;
				vertical-align: middle;
				font-family:Arial,sans-serif;
				&:hover{
					background: #396d92;
					color:#fff;
					padding-right: 10px;
					.change{display: inline-block;}
				}
			}
			.change{
				margin-left: 23px;
				position: relative;
				top: -2px;
			}
		}
		.user__since{
			font-size: 11px;
			color: #a6a8ab;
			display: block;
			padding: 0 0 0 5px;
			height: 23px;
		}
		.user__id{
			padding: 0 10px 0 10px;
			display: inline-block;
			background: #ebebeb;
			border-radius:3px;
			font-size: 12px;
			color: #000;
			line-height: 37px;
			margin-left: 5px;
			cursor: pointer;
			vertical-align: middle;
			&:hover{
				background: #396d92;
				color:#fff;
				padding-right: 10px;
				.change{display: inline-block;}
			}
		}

	}
	.add-inf-block{
		float: right;
		height: 135px;
		width: 458px;
		background: #fbf3e1;
		margin: 8px 5px 0;
	}
	.prof-tabs{

	}
	.prof-tabs__nav{
		font-family:Arial,sans-serif;
		display: inline-block;
		width: 100%;
		border-bottom:3px solid #535353;
		margin-left: 6px;
		.prof-tabs__title{
			margin-bottom: -3px;
			width: 175px;
			height: 45px;
			float: left;
			a{
				margin:6px 7px 0 0;
				display: block;
				font-size: 24px;
				color:#5292ab;
				height: 30px;
				text-decoration: none;
				padding: 6px 0 0 11px;
				border-bottom:3px solid #a3a3a3;
				&:hover{
					color: #404041;
				}
			}
			&.active{
				@include sized-sprite($icons, 'shadow');
				a{
					color: #404041;
					font-weight: bold;
					border:0;
				}
			}
		}
		ul{
			padding: 5px 0 0 74px;
			margin-bottom: -3px;
			overflow: hidden;
		}
		li{
			height: 40px;
			list-style: none;
			float: left;
			font-size: 14px;
			a{
				display: block;
				height: 34px;
				padding: 3px 19px 0;
				text-decoration: none;
				color: #f24800;
				line-height: 34px;
			}
			&.active a, a:hover{
				border-bottom:3px solid #f24800;
			}
		}
		.blue{
			li{
				a{color:#357ea8;}
				&.active a{
					border-bottom:3px solid #dd490b;
					color:#fff;
					background: #f46021;
				}
			}
		}
	}
	.prof-tabs__content{
		padding: 15px 0 35px;
	}
	.prof-tabs__block{}
	.t{
		margin-top: 20px;
		width: 100%;
		border-collapse:separate;
		border-spacing:0;
		font-family:Arial,sans-serif;
		th{
			border-right:1px solid #dadbdc;
			background: #323232;
			color:#fff;
			padding: 10px 9px 5px;
			height: 35px;
			font-size: 11px;
			text-align: left;
			font-weight: normal;
			line-height: 1.2em;
			vertical-align: bottom;
			&:first-child{
				border-left:1px solid #dadbdc;
			}
		}
		td{
			border-right:1px solid #dadbdc;
			border-bottom:1px solid #dadbdc;
			color:#a8a8a8;
			font-size: 18px;
			text-align: center;
			padding: 5px 8px;
			width: 64px;
			&:first-child{
				border-left:1px solid #dadbdc;
			}
			span{color:#323232;}
		}
		.t-col1{
			width: 15px;
			font-size: 14px;
		}
		.t-col2{
			padding: 3px 12px 12px;
			text-align: left;
			width: 367px;
			.t-inf{
				display: inline-block;
				vertical-align: middle;
				width: 300px;
				margin-left: 8px;
				}
			img{
				display: inline-block;
				vertical-align: middle;
				border-radius:5px;
				box-shadow: 1px 1px 0 rgba(0,0,0,.3);
			}
			a{
				color:#347da7;
				font-size: 15px;
				text-decoration: underline;
				&:hover{text-decoration: none;}
			}
			.t-date{
				font-size: 11px;
				color:#abaeb0;
				display: block;
				margin-top: 3px;
			}
		}
		td.t-col2{
			padding: 11px 12px 10px;
		}
		th.t-col2{font-size: 14px;}
		.t-col9{
			font-size: 12px;
			width: 32px;
		}
		tr:hover td{background: #e9f6fc;}
	}

}

